Lesson 2: Get Around In Python, NumPy, Matplotlib and Pandas.

You need to be able to read and write basic Python scripts.

As a developer, you can pick-up new programming languages pretty quickly. Python is case sensitive, uses hash (#) for comments and uses whitespace to indicate code blocks (whitespace matters).

Todayâ€™s task is to practice the basic syntax of the Python programming language and important SciPy data structures in the Python interactive environment.

    Practice assignment, working with lists and flow control in Python.
    Practice working with NumPy arrays.
    Practice creating simple plots in Matplotlib.
    Practice working with Pandas Series and DataFrames.

For example, below is a simple example of creating a Pandas DataFrame.

In [3]:
import numpy as np
import pandas as pd

In [4]:
myarray=np.array([[1,2,3],[4,5,6]])
rownames=['a','b']
colnames=['one','two','three']
mydataframe=pd.DataFrame(myarray,index=rownames,columns=colnames)
mydataframe

   one  two  three
a    1    2      3
b    4    5      6